<!-- <div class="nav">
    //<a class="active" href="/admin/loginform"><%//=adminUser.master_name%>님 로그아웃</a>
    //target="_blank"는 새로운 창으로 열리게 하는 것
    <a href="/shop/main">메인</a>
    <a href="/admin/product/registform">상품등록</a> 
    <a href="/admin/game/registform">게임등록</a>
    <a href="/admin/product/list">상품관리</a>
    <a href="/admin/game/list">게임관리</a>
    <a href="/admin/login/list">회원관리</a>
    <a class="active" href="/admin/loginform">log out</a>
  </div> -->
  <nav id="nav">
    <ul>
      <li class="current"><a href="/shop/main">메인</a></li>
      <li>
        <a href="/admin/loginform">log out</a>
        <!-- <ul>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Magna phasellus</a></li>
          <li>
            <a href="#">Phasellus consequat</a>
            <ul>
              <li><a href="#">Lorem ipsum dolor</a></li>
              <li><a href="#">Phasellus consequat</a></li>
              <li><a href="#">Magna phasellus</a></li>
              <li><a href="#">Etiam dolore nisl</a></li>
            </ul>
          </li>
          <li><a href="#">Veroeros feugiat</a></li>
        </ul> -->
      </li>
      <li ><a href="/admin/product/registform">상품등록</a></li>
      <li><a href="/admin/game/registform">게임등록</a></li>
      <li><a href="/admin/product/list">상품관리</a></li>
      <li><a href="/admin/game/list">게임관리</a></li>
      <li><a href="/admin/login/list">회원관리</a></li>
    </ul>
  </nav>