body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topwrap{
    position: relative;
    width: 100%;
}

.topnavi {
    overflow: hidden;
    background-color: #f2f2f2;
    width: 100%;
}

.topnavi a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavi a:hover {
    background-color: black;
    color: #f2f2f2;
    
}

.topnavi-right a{
    float: right;
    font-size: 17px;
    padding-right: 20px;
} 

.topimg{
    text-align: center;
    position: relative;
    

}

.topimg img{
    width: 300px;
}
